* {
  margin: 0;
  padding: 0;
}

.img-random {
  max-width: 500px;
  max-height: 500px;
}

.img-list {
  max-width: 250px;
  max-height: 250px;
}

header {
  background-color: darkgray;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#app_main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 4px;
}

#app_main > .description-item {
  flex: 3;
  text-align: center;
}

#app_main > .image-item {
  flex: 1;
  justify-content: center;

  display: flex;
  gap: 12px 4px;
  flex-flow: column;
  object-fit: contain;
}

#doglist {
  border-top: 2px solid #eee;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 12px;
}

.listpane {
  display: flex;
  column-gap: 4px;
}


.dog-list-item {
  padding-top: 15px;
  display: grid;
  gap: 12px;
  margin: auto;
  align-items: center;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.dog-list-item-detail {
  justify-content: center;
}
